In [2]:
import pandas as pd

DATADIR = '../../../data/train/train_ratings.csv'

data = pd.read_csv(DATADIR)
data.sample(5)

           user  item        time
746807    19768   741  1225243954
1949496   51745  7364  1172522175
1359776   35854  1641  1180197472
4546956  121707  8636  1228248411
3175330   84677  2858  1209474988

사용자별로 여러번 본 영화는 없음

In [8]:
a = data.groupby('user')['item'].value_counts().values
set(a)

{1}

평균 영화를 시청한 횟수

In [10]:
data.groupby('user')['item'].count().describe()

count    31360.000000
mean       164.364509
std        150.009107
min         16.000000
25%         71.000000
50%        114.000000
75%        200.000000
max       2912.000000
Name: item, dtype: float64

In [12]:
from datetime import datetime as dt

In [14]:
dt.fromtimestamp(data.iloc[0, 2])

datetime.datetime(2009, 1, 1, 13, 2, 9)