In [5]:
import pandas as pd
import os

DATADIR = '../../../data/train'

data = pd.read_csv(os.path.join(DATADIR, "train_ratings.csv"))
data.sample(5)

           user   item        time
861501    22917  99114  1393185255
4270240  114268  54503  1323469161
4228742  113209  61678  1379587094
2981244   79451   6016  1225088236
2671725   71326    858  1202925657

In [6]:
data['test_a'] = "a"
data['test_b'] = "1"
data.sample(5)

           user    item        time test_a test_b
926990    24557    1222  1422125154      a      1
3671253   97853    7216  1128572449      a      1
5111219  137328   56367  1225290412      a      1
198548     5005    1721  1267971888      a      1
599295    15952  106782  1396067716      a      1

In [7]:
data['user'].apply(lambda x: "u" + str(x)) 
data['item'].apply(lambda x: "i" + str(x))

0           i4643
1            i170
2            i531
3            i616
4           i2140
            ...
5154466    i44022
5154467     i4958
5154468    i68319
5154469    i40819
5154470    i27311
Name: item, Length: 5154471, dtype: object

In [8]:
ids = data['user'].unique()
ids

array([    11,     14,     18, ..., 138486, 138492, 138493])

In [9]:
import numpy as np

num_elements = len(ids)
num_to_select = int(num_elements * 0.2)  # 20%

# 무작위 인덱스 선택
random_indices = np.random.choice(num_elements, size=num_to_select, replace=False)

# 선택된 인덱스 출력
print("선택된 인덱스:", random_indices)

선택된 인덱스: [25354  3140 30334 ... 30945   359  1685]

In [10]:
len(ids[random_indices]), len(set(ids[random_indices]))

(6272, 6272)

In [11]:
all_indices = np.arange(num_elements)  # 전체 인덱스 배열 생성
not_selected_indices = np.setdiff1d(all_indices, random_indices)

In [12]:
len(ids[random_indices]), len(ids[not_selected_indices])

(6272, 25088)

In [13]:
select = data['user'].apply(lambda x: True if x in ids[random_indices] else False)

In [14]:
data[select]

           user   item        time test_a test_b
1109         50   7438  1181644394      a      1
1110         50   6711  1181644397      a      1
1111         50    372  1181644438      a      1
1112         50   2145  1181644500      a      1
1113         50   1635  1181644519      a      1
...         ...    ...         ...    ...    ...
5153116  138457   5502  1264998367      a      1
5153117  138457    586  1264998371      a      1
5153118  138457    288  1264998388      a      1
5153119  138457  53996  1264998404      a      1
5153120  138457   1485  1264998407      a      1

[1031031 rows x 5 columns]

In [15]:
data[~select].to_csv(os.path.join(DATADIR, "GT_train.csv"), index=False)

In [16]:
data[select].to_csv(os.path.join(DATADIR, "GT_valid.csv"), index=False)

In [17]:
data.to_csv(os.path.join(DATADIR, "GT_inference.csv"), index=False)
data.to_csv(os.path.join(DATADIR, "train_ratings2.csv"), index=False)