In [2]:
import pandas as pd

DATADIR = '../../../data/train/train_ratings.csv'

data = pd.read_csv(DATADIR)
data.sample(5)

           user  item        time
4597148  122989  3882  1126666210
321383     8459  2641  1261992776
1694756   44826  1552  1132707118
1184118   31236   593  1189776316
2874695   76842   377  1209636894

In [5]:
ids = data['user'].unique()
ids

array([    11,     14,     18, ..., 138486, 138492, 138493])

In [6]:
import numpy as np

num_elements = len(ids)
num_to_select = int(num_elements * 0.2)  # 20%

# 무작위 인덱스 선택
random_indices = np.random.choice(num_elements, size=num_to_select, replace=False)

# 선택된 인덱스 출력
print("선택된 인덱스:", random_indices)

선택된 인덱스: [13365  5519 22922 ...  8100   853  9248]

In [10]:
len(ids[random_indices]), len(set(ids[random_indices]))

(6272, 6272)

In [22]:
all_indices = np.arange(num_elements)  # 전체 인덱스 배열 생성
not_selected_indices = np.setdiff1d(all_indices, random_indices)

In [23]:
len(ids[random_indices]), len(ids[not_selected_indices])

(6272, 25088)