In [1]:
import pandas as pd
import os

DATADIR = '../../../data/train'

data = pd.read_csv(os.path.join(DATADIR, "train_ratings.csv"))
data.sample(5)

           user  item        time
2594470   69194   296  1192369320
3593897   95925  2109  1417230459
2242373   59447  8228  1423370476
521157    13942  5915  1232439896
5086296  136673  4161  1193073692

In [2]:
data['test_a'] = "a"
data['test_b'] = "1"
data.sample(5)

           user  item        time test_a test_b
2130377   56504  1235  1161295641      a      1
1828733   48481  2683  1260830888      a      1
3343591   88956  2291  1149284880      a      1
1604610   42440  1246  1166375369      a      1
4141597  110913  5013  1179005503      a      1

In [3]:
ids = data['user'].unique()
ids

array([    11,     14,     18, ..., 138486, 138492, 138493])

In [4]:
import numpy as np

num_elements = len(ids)
num_to_select = int(num_elements * 0.2)  # 20%

# 무작위 인덱스 선택
random_indices = np.random.choice(num_elements, size=num_to_select, replace=False)

# 선택된 인덱스 출력
print("선택된 인덱스:", random_indices)

선택된 인덱스: [10962 17787 22016 ... 27276  2474  7291]

In [5]:
len(ids[random_indices]), len(set(ids[random_indices]))

(6272, 6272)

In [6]:
all_indices = np.arange(num_elements)  # 전체 인덱스 배열 생성
not_selected_indices = np.setdiff1d(all_indices, random_indices)

In [7]:
len(ids[random_indices]), len(ids[not_selected_indices])

(6272, 25088)

In [8]:
select = data['user'].apply(lambda x: True if x in ids[random_indices] else False)

In [9]:
data[select]

           user  item        time test_a test_b
376          14  8961  1225308746      a      1
377          14  1396  1225308757      a      1
378          14   471  1225308771      a      1
379          14  2105  1225308809      a      1
380          14  1042  1225308819      a      1
...         ...   ...         ...    ...    ...
5154152  138492  8623  1115351368      a      1
5154153  138492  1073  1115351381      a      1
5154154  138492  3039  1115351387      a      1
5154155  138492  1968  1115351393      a      1
5154156  138492  3210  1115351445      a      1

[1022040 rows x 5 columns]

In [10]:
data[~select].to_csv(os.path.join(DATADIR, "GT_train.csv"), index=False)

In [11]:
data[select].to_csv(os.path.join(DATADIR, "GT_valid.csv"), index=False)

In [12]:
data.to_csv(os.path.join(DATADIR, "GT_inference.csv"), index=False)
data.to_csv(os.path.join(DATADIR, "train_ratings2.csv"), index=False)